body{
	background-image: url("http://upload.wikimedia.org/wikipedia/commons/1/16/Choc-Chip-Cookie.jpg"); 
	background-size: 200px 200px;
	width:100%;
}
h1{
	color: blue;

}
p{
	color: 
	blue;
}
	ul {
		color:blue;
	}

img.cookie-monster{
	display :block;
	margin:0 auto;
	
}
img.smack{
	display:block;
	margin:0 auto;
}